.hero{
    padding: 10px 20px;
    &__item{
      display: flex;
      align-items: center;
    }
    &__item span {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        margin-left: 10px;
    }
    &__item  img{
        cursor: pointer;
    }
    &__item:nth-child(2){
        margin-right: 70px;
    }
    &__item p{
       
        font-size: 13px;
        display: flex;
        align-items: center;
        text-decoration-line: underline;
        text-transform: lowercase;
        color: #009EFF;
    }
}

@media (max-width:800px){
    .hero{
        display: none;
    }
}